@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@keyframes slide-hor {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-ver {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-bot {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__link {
  text-decoration: none;
  color: #323232;
  margin: 0.3em 0;
}

.footer__title {
  margin-bottom: 2em;
}

.footer__copyright__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

.footer__copyright {
  border-top: 1px solid #e6e6e6;
  padding: 1em 0;
  width: 30%;
  text-align: center;
  color: #6e6e6e;
}

.mobile__footer {
  display: none;
}

@media screen and (max-width: 880px) {
  .footer {
    display: none;
  }
  .mobile__footer {
    width: 100%;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
}

.menu {
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: slide-ver 1s;
}

.menu__logo {
  display: flex;
}

.menu__title {
  font-size: 1.8em;
  letter-spacing: 0.1em;
}

.menu__list {
  list-style: none;
  display: flex;
}

.menu__item {
  margin: 0 1.5em;
}

.menu__link {
  text-decoration: none;
  color: black;
}

.menu__letter {
  color: #f06e3c;
}

.menu__hamburger {
  display: none;
  cursor: pointer;
}

.menu__line {
  width: 30px;
  height: 4px;
  background: black;
  margin: 4px 0;
  border-radius: 50px;
}

.menu__close {
  position: absolute;
  top: 3vh;
  right: 10vw;
  display: none;
  cursor: pointer;
}

.menu__close .fa {
  font-size: 2em;
  text-decoration: none;
  color: black;
}

.libary {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-flow: row dense;
  gap: 1em;
  padding: 3em;
  justify-content: center;
  animation: display 1.5s;
  margin-bottom: 10em;
}

.libary__header {
  margin: 0;
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 5vh;
  font-size: 1.5em;
}

.libary__nav {
  font-size: 1rem;
  grid-column: 1/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #f06e3c;
  margin-bottom: 4px;
  padding-right: 0 0 0 0.2em;
}

.libary__men {
  margin: 0 0.5em;
}

.libary__men, .libary__women, .libary__all {
  cursor: pointer;
}

.libary__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  background-color: #f2f2f2;
  justify-content: center;
  position: relative;
}

.libary__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.libary__description {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 0.5em 0 0.5em 0.1em;
}

.libary__selected {
  color: #f5a383;
}

@media screen and (max-width: 1300px) {
  .libary {
    grid-template-columns: repeat(2, 400px);
  }
  .libary__header, .libary__gender {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 880px) {
  .menu__list {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-100%);
  }
  .menu__hamburger {
    display: block;
  }
  .menu__close {
    display: block;
  }
  .libary {
    grid-template-columns: 400px;
  }
  .libary__header, .libary__nav {
    grid-column: 1/2;
  }
}

@media screen and (max-width: 450px) {
  .libary {
    grid-template-columns: 300px;
  }
  .libary__header {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1/2;
    height: 15vh;
  }
  .libary__nav {
    grid-column: 1/2;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 0.1em;
  }
}
/*# sourceMappingURL=products.css.map */