@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@keyframes slide-hor {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-ver {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-bot {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__link {
  text-decoration: none;
  color: #323232;
  margin: 0.3em 0;
}

.footer__title {
  margin-bottom: 2em;
}

.footer__copyright__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

.footer__copyright {
  border-top: 1px solid #e6e6e6;
  padding: 1em 0;
  width: 30%;
  text-align: center;
  color: #6e6e6e;
}

.mobile__footer {
  display: none;
}

@media screen and (max-width: 880px) {
  .footer {
    display: none;
  }
  .mobile__footer {
    width: 100%;
    margin-top: 0;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }
}

.login {
  width: 100%;
  display: flex;
  background: #fafafa;
  align-items: center;
  height: 3vh;
  justify-content: flex-end;
  animation: slide-ver 1s;
}

.login__name {
  font-size: 0.8em;
  padding-right: 1em;
}

.menu {
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: slide-ver 1s;
}

.menu__logo {
  display: flex;
}

.menu__title {
  font-size: 1.8em;
  letter-spacing: 0.1em;
}

.menu__list {
  list-style: none;
  display: flex;
  position: static;
  height: auto;
  width: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu__item--middle {
  margin: 0 3em;
}

.menu__item--login {
  background-color: #323232;
  border-radius: 5em;
}

.menu__item--login a {
  color: white;
  display: block;
  padding: 0.4em 1.2em;
  border-radius: 5em;
}

.menu__link {
  text-decoration: none;
  color: black;
}

.menu__letter {
  color: #f06e3c;
}

.menu__hamburger {
  display: none;
  cursor: pointer;
}

.menu__line {
  width: 30px;
  height: 4px;
  background: black;
  margin: 4px 0;
  border-radius: 50px;
}

.menu__close {
  position: absolute;
  top: 3vh;
  right: 10vw;
  display: none;
  cursor: pointer;
}

.menu__close .fa {
  font-size: 2em;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 880px) {
  .menu__list {
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(-100%);
  }
  .menu__list--visible {
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(0);
  }
  .menu__hamburger {
    display: block;
  }
  .menu__close {
    display: block;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
}

.main {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-auto-flow: row dense;
  gap: 10em;
  justify-content: center;
  align-items: center;
}

.main__content {
  position: relative;
  height: 67vh;
  display: flex;
  width: 100%;
  background: #fafafa;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.main__blur {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main__image {
  width: 100%;
  object-fit: cover;
}

.main__form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__login {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em;
}

.main__input {
  padding: 0.5em;
  margin-top: 0.5em;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px #323232 solid;
}

.main__submit {
  width: 100%;
  margin: 2em;
  padding: 1em;
  border: none;
  cursor: pointer;
  border-radius: 10em;
  color: white;
  background: #323232;
  outline: none;
}

.main__link {
  color: blue;
}

@media screen and (max-width: 880px) {
  .main {
    grid-template-columns: 400px;
  }
  .mobile__footer {
    margin-top: 80vh;
  }
}
/*# sourceMappingURL=login.css.map */