.login {
  width: 100%;
  display: flex;
  background: white;
  align-items: center;
  height: 3vh;
  justify-content: flex-end;
  animation: slide-ver 1s;

  &__name {
    font-size: 0.8em;
    padding-right: 1em;
  }
}

.menu {
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: slide-ver 1s;

  &__logo {
    display: flex;
  }

  &__title {
    font-size: 1.8em;
    letter-spacing: 0.1em;
  }

  &__list {
    list-style: none;
    display: flex;
    position: static;
    height: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__item--middle {
    margin: 0 3em;
  }

  &__item--login {
    background-color: $dark-grey;
    border-radius: 5em;

    a {
      color: white;
      display: block;
      padding: 0.4em 1.2em;
      border-radius: 5em;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &__letter {
    color: $orange;
  }

  &__hamburger {
    display: none;
    cursor: pointer;
  }

  &__line {
    width: 30px;
    height: 4px;
    background: black;
    margin: 4px 0;
    border-radius: 50px;
  }

  &__close {
    position: absolute;
    top: 3vh;
    right: 10vw;
    display: none;
    cursor: pointer;

    .fa {
      font-size: 2em;
      text-decoration: none;
      color: black;
    }
  }
}

@media screen and (max-width: 880px) {
  .menu {
    &__list {
      list-style: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      background: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transform: translateX(-100%);
    }

    &__list--visible {
      list-style: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      background: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transform: translateX(0);
    }

    &__hamburger {
      display: block;
    }

    &__close {
      display: block;
    }
  }
}
